

<h1>Find in Network</h1>

<!-- <p>
	This is the home page for Follow Your Dreams.
</p>
<p>  	
	Here you can realize your dreams with what you can find from your social network.
</p> -->
  <% if user_signed_in? %>
	<%= link_to "Query", queries_path, :class => "signup_button round" %>
	<br/>
	<%= link_to "Ontology", ontologies_path, :class => "signup_button round" %>
	<% else %>
	<%= link_to "Sign up now", new_user_registration_path, :class => "signup_button round" %>
	<% end %>
